
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 60px;

  width: 250px;
  height: 40px;
  border: none;
  border-radius: 10px;

  font-family: 'Prosto One';
  cursor: pointer;
  color: #fff;

  background-color: rgb(0, 113, 179);

    &:hover {
      color: #fff;
      background-color: #23558F;
    }
}

.button-spinner {
  width: 25px;
  height: 25px;
  margin-right: 30px;
  
  border-radius: 50%;
  border-top: 4px solid rgb(0, 0, 0, 0.3);
  border-left: 4px solid rgb(0, 0, 0, 0.3);
  border-bottom: 4px solid rgb(0, 0, 0, 0.3);
  border-right: 4px solid #fff;
  
  animation-name: spin-for-small;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.load-more.is-hidden {
  display: none;
}

.is-hidden {
  display: none;
}

@keyframes spin-for-small {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}