.slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider__wrapper {
    position: fixed;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    height: 100%;
    width: 100%;

    
    overflow: hidden;
}

.slider__overlay{
    position: fixed;
    z-index: 90;

    height: 100%;
    width: 100%;
    opacity: 0.7;

    background-color: #fff;
}

.slider__thumb {    
    opacity: 1;
    margin: 0 10px;
}

.slider__image {
    object-fit: cover;
}

.slider__button {
    position: absolute;
    z-index: 120;

    &--to-left {
        left: 50px;
    }

    &--to-right {
        right: 50px;
    }

}

.is-hidden {
    display: none;
}