.photo-card {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;

    &:hover {
        scale: 1.02;
      }
}

.photo-card__image-box {
  width: 500px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.photo-card__image {
  display: block;
  height: 100%;
  width: 100%;    
  object-fit: cover;
}

.photo-card__stats {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.photo-card__stats-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.material-icons {
  margin-right: 10px;
  color: #fff;

}

.photo-card__stats-value {
  margin-right: 15px;
  font-family: Consolas;
  color: white;
  
  font-size: 16px;
  line-height: 1.2;
}
