<div class="slider__wrapper">
    <button 
        type="button" 
        class="slider__button slider__button--to-left">
          left
    </button>
    <div class="slider__thumb slider__thumb--hidden-left">
        <img
            src={{leftImage}}
            alt=""
            class="slider__image"
            height="720"
            width="1280"
            style="transform: translateX(0px); opacity: 0.5; transition: transform 500ms linear, opacity 500ms linear"
        />
    </div>
    <div class="slider__thumb slider__thumb--main" 
        style="transform: translateX(0px); opacity: 1; transition: transform 500ms linear, opacity 500ms linear">
        <img
            src={{mainImage}}
            alt=""
            class="slider__image"
            height="720"
            width="1280"
        />
    </div>
    <div class="slider__thumb slider__thumb--hidden-right"
        style="transform: translateX(0px); opacity: 0.5; transition: transform 500ms linear, opacity 500ms linear">
        <img
            src={{rightImage}}
            alt=""
            class="slider__image"
            height="720"
            width="1280"
            style="opacity: 0.5"
        />
    </div>
    <button 
        type="button" 
        class="slider__button slider__button--to-right">
          right
    </button>
</div>
<div class="slider__overlay"></div>