<div class="slider__wrapper">
    <div class="slider__image-container">
        
    </div>
    <ul class="slider__buttons">
        <li class="slider__buttons-item">
            <button type="button" class="slider__button slider__button--left">
                left
            </button>
        </li>
        <li class="slider__buttons-item">
            <button type="button" class="slider__button slider__button--right">
                right
            </button>
        </li>
    </ul>
</div>
<div class="slider__overlay"></div>